@font-face {
    font-family: 'Cloister';
    src: url('/CloisterBlack-Light.eot');
    src: url('/CloisterBlack-Light.eot?#iefix') format('embedded-opentype'),
        url('/CloisterBlack-Light.woff2') format('woff2'),
        url('/CloisterBlack-Light.woff') format('woff'),
        url('/CloisterBlack-Light.ttf') format('truetype'),
        url('/CloisterBlack-Light.svg#CloisterBlack-Light') format('svg');
    font-style: normal;
    font-display: swap;
}

*, *:before, *:after {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

h1 {
    font-family: 'CloisterBlack-Light', Arial Black;
    font-size: 70px;
    margin: 0;
    font-weight: normal;
}

#star {
    font-family: 'CloisterBlack-Light', Arial Black;
    font-size: 90px;
    line-height: 5px;
}

/* * * * * * * * * * INSTRUCTIONS DIV * * * * * * * * * */

#instructions {
    width:500px;
    display: flex;
    flex-direction: column;
    border-style: double;
    border-width: 6px;
    padding: 20px 15px 20px 15px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    padding-left:5px;
    padding-right:5px;
    line-height: 25px;
    margin-top:0px;
}

#bet {
    padding-bottom: 0px;
}

input, input:active {
    color: #DADDDD;
    height: 30px;
    width: 340px;
    border: solid;
    border-color: black;
    border-width: 3px;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}

input:focus {
    color:black;
}

#placebet, #placebet:active, #placebet.focus  {
    background: black;
    color: white;
    padding: 11px 0px 11px 0px;
    width: 130px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    align-self: center;
    outline: none;
    border: none;
    vertical-align: bottom;
}

#placebet:hover {
    background: transparent;
    color: black;
    padding: 8px 0px 8px 0px;
    border: solid;
    border-width: 3px;
}

.f-right {
    float: right;
    padding: 0px;
}

.f-left {
    float: left;
    padding: 0px;
}

/* * * * * * * * * * GAME DIV * * * * * * * * * */

#game {
    display: flex;
    flex-direction: column;
}

/* * * * * * * * * * SPINNER SECTION * * * * * * * * * */

#spinner {
    margin: 10px 0;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    border-style: double;
    border-width: 6px;
}

.slot {
    width:150px;
    height: 250px;
    border: solid;
    border-width: 3px;
}

/* * * * * * * * * * TOKEN SCORE BAR * * * * * * * * * */

#money {
    padding: 0px 15px 0px 15px;
    margin-right: 0px;
    width:500px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-style: double;
    border-width: 6px;
}

#cashout, #cashout:active, #cashout.focus  {
    background: black;
    color: white;
    width: 130px;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    align-self: center;
    outline: none;
    border: none;
}

#cashout:hover {
    background: transparent;
    color: black;
    padding: 7px 0px 7px 0px;
    border: solid;
    border-width: 3px;
}

/* * * * * * * * * * FOOTER * * * * * * * * * */

footer {
    text-align: center;
    margin-top: 10px;
}