@charset "UTF-8";

@font-face {
	font-family: 'CloisterBlack-Light';
	src: url('/fonts/CloisterBlack-Light.eot');
	src: url('/fonts/CloisterBlack-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CloisterBlack-Light.woff2') format('woff2'),
		url('/fonts/CloisterBlack-Light.woff') format('woff'),
		url('/fonts/CloisterBlack-Light.ttf') format('truetype'),
		url('/fonts/CloisterBlack-Light.svg#CloisterBlack-Light') format('svg');
	font-display: optional;
}

*, *:before, *:after {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* * * * * * * * * * HEADER * * * * * * * * * */

/* #header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
} */

#header-image {
	/* margin-top: 20px; */
	pointer-events: none;
	width: 500px;
}
@media (max-width: 600px) {
	#header-image {
		width: 70%;
	}
}

/* h1 {
    font-family: 'CloisterBlack-Light', Ariel Black;
    font-size: 75px;
    margin: 0;
    font-weight: normal;
} */

/* #star {
    font-family: 'CloisterBlack-Light', Ariel Black;
    font-size: 90px;
    line-height: 5px;
} */

/* * * * * * * * * * GAME DIV * * * * * * * * * */

#game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
}
@media (max-width: 600px) {
	#game {
		width: 80%;
	}
}

/* * * * * * * * * * INSTRUCTIONS DIV * * * * * * * * * */

#instructions {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-style: double;
	border-width: 6px;
	padding: 15px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}
@media (max-width: 600px) {
	h3 {
		font-size: 3vw;
	}
}

p {
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 25px;
	margin-top: 0px;
}

#bet {
	padding-bottom: 0px;
}

.row-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 44px;
}

input,
input:active {
	color: #dadddd;
	height: 35px;
	width: 70%;
	border: solid;
	border-color: black;
	border-width: 3px;
	outline: none;
	font-size: 20px;
	padding-left: 10px;
	margin-right: 10px;
}

input:focus {
	color: black;
}

#placebet,
#placebet:active,
#placebet.focus {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	width: 140px;
	height: 44px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;

	outline: none;
	border: 3px solid black;
	/* padding: 8px 0px 8px 0px; */
}

#placebet:hover {
	background: transparent;
	color: black;
	/* border: 3px solid black; */
}

/* .f-right {
    float: right;
    padding: 0px;
}

.f-left {
    float: left;
    padding: 0px;
} */

/* * * * * * * * * * SPINNER SECTION * * * * * * * * * */

#spinner {
	margin: 10px 0;
	width: 100%;
	padding: 15px;
	/* height:300px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-style: double;
	border-width: 6px;
}
 
.slot-container {
    margin: 0;
    padding: 0;
    width: 30%;
}

.slot-image {
	width: 30%;
	border: solid;
	border-width: 3px;
}

/* * * * * * * * * * TOKEN SCORE BAR * * * * * * * * * */

#money {
	padding: 15px;
	margin-right: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-style: double;
	border-width: 6px;
}

h2 {
    margin: 0;
    font-size: 40px;
}
@media (max-width: 600px) {
    h2{

        font-size: 4vw;
    }
}

#cashout,
#cashout:active,
#cashout.focus {
	background: black;
	color: white;
	width: 140px;
	height: 44px;
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	align-self: center;
	outline: none;
	border: none;
}

#cashout:hover {
	background: transparent;
	color: black;
	padding: 7px 0px 7px 0px;
	border: solid;
	border-width: 3px;
}

/* * * * * * * * * * FOOTER * * * * * * * * * */

footer {
	text-align: center;
	margin-top: 10px;
}

.marquee {
	width: 100%;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}
.marquee p {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 40s linear infinite;
}
@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
